/* Element Selectors */

/* Nav Section Selectors */

/* Place this rule in the image tag */
.logo-image {
  width: min(25vw, 187px);
}

/* Containers */
.container {
  /* This gives 10% top, 15% left and right, and 10% bottom padding */
  padding: 10% 15%;
}


/* --------------- Sections ---------------- */

/* Navigation Bar  */

.navbar {
  padding: 0 0 1.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Hero Section */
.hero-section {
  padding-top: 2em;
  background-color: #6190FF;
  color: #fff;
}
