/* Element Selectors */

/* Nav Section Selectors */

/* Place this rule in the image tag */
.logo-image {
  width: min(35vw, 262px);
}

/* Containers */
.container {
  /* This gives 10% top, 15% left and right, and 10% bottom padding */
  padding: 15% 15%;
}


/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
